<header>
    <div id="fixed-header">
    <div class="header-content">
        
        <div class="header-content-inner">
          
            <h1>Dry cleaning is like managing snowflakes in a snowstorm</h1>
           
            <a href="mailto:bill@smrtsystems.com" target="_BLANK" class="btn btn-default btn-xl page-scroll">Get SMRT</a>
        </div>
    </div>
    </div>   
</header>

<section class="bg-primary" id="features">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/allinone.png") %>" alt="dry cleaning operations icon">
                        <h3>All in One App</h3>
                        <p class="text-muted noWidows2">No need to purchase add ons or upgrades, SMRT provides everything you need to maximize your profits</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/multiling.png") %>" alt="multilingual icon">
                        <h3>Multilingual</h3>
                        <p class="text-muted noWidows2">Communication is paramount to execution, get multilingual. Your business speaks many languages, your software should too</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/smart_pay.png") %>" alt="secure credit card">
                        <h3>Secure Pay</h3>
                        <p class="text-muted noWidows2">Seamlessly process new order and pick up transactions. Automated to minimize declines and maximize cash flow</p>
                    </div>
                </div>
        </div>   
        </div> 

        <div class="container">
        <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/fclothestracker.png") %>" alt="clothestracker icon">
                        <h3>ClothesTracker</h3>
                        <p class="text-muted noWidows2">Tracking inventory is the heart of every operation. With ClothesTracker™ you’ll always know the status of orders, items, and deliveries</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/feat-assbl.png") %>" alt="multiple shirts icon">
                        <h3>Automatic Assembly</h3>
                        <p class="text-muted noWidows2">An instant money maker, streamline production, prevent late orders, and free up your work area</p>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/deliver.png") %>" alt="location pins icon">
                        <h3>Delivery</h3>
                        <p class="text-muted noWidows2">An integrated system that optimizes routes, provides navigation, tracks deliveries, and communicates with your customers</p>
                    </div>
                </div>
        </div><!-- row -->
        </div><!-- container -->

        <div class="container">
        <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/cloud.png") %>" alt="wifi cloud icon">
                        <h3>Cloud Software</h3>
                        <p class="text-muted noWidows2">No licensing fees, free and seamless updates, worry-free data storage</p>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/automation.png") %>" alt="machinery icon">
                        <h3>Automation</h3>
                        <p class="text-muted noWidows2">The success of your business depends on automation.  That’s why we’ve tirelessly focused on automating every recurring event in your operation</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/analyt.png") %>" alt="graph icon">
                        <h3>Analytics</h3>
                        <p class="text-muted noWidows2">Review timeclocks, performance, productivity, income and expenses</p>
                    </div>
                </div>
        </div><!-- row -->
        </div><!-- container -->
</section>

<aside class="bg-dark quote">
    <div class="container" id="quote">
        <div class="row"> 
            <div class="col-lg-12 text-center">
                    <img class="quote-img" src="<%= asset_path("troyf.jpg") %>" alt="Kyle Riggle">
                    <h2>“Now, with SMRT, I love coming to work.”</h2>
            </div>
            <div class="col-lg-12 text-right">
                    <h3>- Troy Fontana, J J's Cleaners, Reno NV</h3>
            </div>
        </div>
    </div>
</aside>

<section class="anywhere" id="about">
    <div class="container bg-primary">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">All-In-One Solution</h2>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Streamlined Production</h3>
               
            </div>
                <div class="col-lg-6">
                  <img src="<%= asset_path("web_screens8.png") %>" class="img-responsive" alt="stacked screens featuring SMRT software">
                </div>

                <div class="col-lg-6 text-left">
                <p class="text-muted noWidows2"> 
                Simply install one SMRT device at every workstation in your plant, and instantly see a change for the better. Using heat seal technology and cloud-based data sharing, SMRT has created its proprietary ClothesTracker™ system so you’ll never lose an item.</p>
                <p class="text-muted noWidows2">Detailing flies by when all you have to do is scan a returning item. Alerts at Automatic Assembly let you know how long an order has been in production, allowing  you to prevent late orders before they’re even an issue.</p> 
                </div>

        </div> <!-- row -->
    </div> <!-- container -->

     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Customer Connection</h3>
              
            </div>
                <div class="col-lg-6 text-left">
                    <p class="text-muted noWidows2"> 
                    Automated texts and emails keep customers informed about order status and payments. Customer communications are automatically logged for easy reference. Automatic billing and invoicing enhance the trust relationship you’ve built with your clientele.</p>
                        
                    <p class="text-muted noWidows2">SMRT gives every customer their own web page, where they are able to schedule pickups and deliveries, specify rush, view order progress, and leave notes on pieces. You’ll barely have to lift a finger with customers doing all this work for you!</p> 
                </div>

                 <div class="col-lg-6 text-right">
                  <img src="<%= asset_path("red_round_med.png") %>" class="img-responsive anywhere-img" alt="smiling redhead looks at phone">
                </div>

        </div> <!-- row -->
    </div> <!-- container -->
  
   <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Everything Managed</h3>
                    
                </div>

                <div class="col-lg-6">
                    <img src="<%= asset_path("321screens.png") %>" class="img-responsive" alt="laptop ipad phone scaling">
                </div>

                <div class="col-lg-6 text-left">
                    <p class="text-muted noWidows2"> 
                        Go ahead and take that vacation. Run your store remotely — get the numbers that are important to you in just a few clicks. Customer profiles and spending, scheduling, payroll, accounting, employee contact info, timeclocks, performance, productivity, and delivery status all in real time.</p>
                    <p class="text-muted noWidows2">
                        Analytics tell you who your most valuable customers are, and helps recognize spending patterns, so you can maintain a valuable relationship with them. Encourage self-leadership and increase productivity with employee performance tracking. Productivity data helps reveal and clear bottlenecks. Don’t worry about what’s going right, we’ve got it handled.</p>
                </div>

            </div> <!-- row -->
        </div> <!-- container -->    
</section>


  
<aside class="bg-dark quote">
    <div class="container" id="quote">
        <div class="row"> 
            <div class="col-lg-12 text-center">
                    <img class="quote-img" src="<%= asset_path("kylerig.png") %>" alt="Kyle Riggle">
                    <h2>“Simply amazing software, SMRT has improved my business by 400%”</h2>
            </div>
            <div class="col-lg-12 text-right">
                    <h3>- Kyle Riggle, Orth Cleaners, Philadelphia PA</h3>
            </div>
        </div>
    </div>
</aside>
   

    
 <!--Video-->


 <section id="video">
        <div class="container bg-primary">
            <div class="row text-center">
            <div><h2>Videos</h2></div>
            <hr>
                 <div class="flexslider">
                      <ul class="slides">
                        <li data-thumb="<%= asset_path("vid_cover1.png") %>" >
                          <iframe id="player_1" class="player" src="https://player.vimeo.com/video/136945799?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                        </li>
                        <li data-thumb="<%= asset_path("vid_cover2.png") %>">
                          <iframe id="player_2" class="player" src="https://player.vimeo.com/video/142197004?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                        </li>
                        <li data-thumb="<%= asset_path("vid3thumb.png") %>">
                            <iframe id="player_3" class="player" src="https://player.vimeo.com/video/142198943" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>              
                        </li>
                        <li data-thumb="<%= asset_path("vid4-thumb.png") %>">
                            <iframe id="player_4" class="player" src="https://player.vimeo.com/video/142199208" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                        </li>
                      </ul>
                </div>
            </div> <!-- row -->
        </div><!-- container --> 
</section>


<!-- <section>
    <div id="press">
        <div class="container bg-primary">
            <div class="row">
                    <div class="col-lg-12 text-center">
                       <h2 class="section-heading">News</h2>
                       <hr>
                        <div class="col-lg-8 col-lg-offset-2 text-left">
                            <p class="noWidows2 ">Our latest updates are here they are so exciting!</p>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</section>
 -->
<section id="pricing">
    <div class=" bg-primary container">
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading text-">Pricing &amp; Plans</h2>
                <hr class="primary">
                <p class="text-muted noWidows2"> We charge per workstation, per month to create affordable, flexible, pricing for an operation of any size. Find a plan that best suits your needs: From a small plant, to a multi-location dynasty, SMRT has you covered.  Oh yeah, all plans also include free software for two workstations — cuz we're cool like that.</p>
        </div>
           <div class="col-lg-12 text-center">

                <div class=" price_table">
                <div class="column_1">
                    <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Starter Kit</div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price"><span>FREE</span></div>
                    <div class="time">with purchase of hardware*</div>
                    </li>
                    <li class="row_style_1 align_center"><span>Free Website</span></li>
                    <li class="row_style_1 align_center"><span>Tech Support</span></li>
                 <!--    <li class="row_style_1 align_center no-option"><span>Automatic Assembly</span></li> -->
                    <li class="row_style_1 align_center"><span>ClothesTracker™</span></li>
                   <!--  <li class="row_style_1 align_center no-option"><span>Lot Management</span></li> -->
                     <li class="row_style_1 align_center"><span>Free Software</span></li>
                    <li class="row_style_1 align_center"><span>Optimized Delivery</span></li>
                    
                     <li class="row_style_1 align_center"><span>2.5% Fixed Rate CC Processing</span></li>
                    <!-- <li class="row_style_footer_1"><a href="mailto:bill@smrtsystems.com" class="buy_now">Sign Up</a></li> -->
                    <li class="fine-print align_center"><span>Available for qualified businesses</span></li>
                    <li class="fine-print align_center"><span> *$1500 for operations hardware: 1 phone, 1 computer, 2 scanners, 2 printers, cash drawer</span></li>
                    </ul></div><!--end column-->
                </div><!--end price table-->

                <div class=" price_table">
                <div class="column_1">
                    <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Custom Setup</div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price"><span>$100</span><span id="mo">/mo</span></div>
                    <div class="time">with purchase of hardware**</div>
                    </li>
                    <!-- <li class="align_center"><span>with purchase of hardware**</span></li> -->
                    <li class="row_style_1 align_center"><span>Free Website</span></li>
                    <!-- <li class="row_style_1 align_center"><span>Free Software</span></li> -->
                    <li class="row_style_1 align_center"><span>Tech Support</span></li>
                   <!--  <li class="row_style_1 align_center no-option"><span>Automatic Assembly</span></li> -->
                    <li class="row_style_1 align_center"><span>ClothesTracker™</span></li>
                    <li class="row_style_1 align_center"><span>Lot Management</span></li>
                    <li class="row_style_1 align_center"><span>Optimized Delivery</span></li>
                    <li class="row_style_1 align_center"><span>2.5% Fixed Rate CC Processing</span></li>
                    <!-- <li class="row_style_footer_1"><a href="mailto:bill@smrtsystems.com" class="buy_now">Sign Up</a></li> -->
                     <li class="fine-print align_center"><span>3 computer minumum</span></li>
                    <li class="fine-print align_center"><span>**$500 per station: computer/ phone, scanner, printer</span></li>
                    </ul></div><!--end column-->
                </div><!--end price table-->
                
                <div class=" price_table">
                <div class="column_1">
                    <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Auto Assembly</div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price"><span>$6,500</span></div>
                    <div class="time">one time, with Starter Kit or Custom Setup</div>
                    </li>
                <!--     <li class="row_style_1 align_center"><span>Free Software</span></li> -->
                    <li class="row_style_1 align_center"><span>Auto Photo</span></li>
                    <li class="row_style_1 align_center"><span>Tech Support</span></li>
                    <li class="row_style_1 align_center"><span>ClothesTracker™</span></li>
                   <!--  <li class="row_style_1 align_center"><span>Optimized Delivery</span></li> -->
                    <li class="row_style_1 align_center"><span>Lot Management</span></li>
                    <li class="row_style_1 align_center"><span>NeverLate Software</span></li>
                    <li class="row_style_1 align_center"><span>Automated Assembly Rack</span></li>
                    
                   <!--  <li class="row_style_footer_1"><a href="mailto:bill@smrtsystems.com" class="buy_now">Sign Up</a></li> -->
                    </ul></div><!--end column-->
                </div><!--end price table-->


            </div>   
    </div><!--row-->
    </div><!--container-->
</section>
