
<header>
    <div id="fixed-header">
    <div class="header-content">
        
        <div class="header-content-inner">
          
            <h1>Northbrae Cocktail Club</h1>
           
            <a target="_blank" href=""><button type="button" id="top-get-btn" class="btn btn-default btn-xl page-scroll get-btn">Drink Up</button></a>
            <div class="modal fade frame-one150961846" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close mobile-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <!--Add Form Here-->
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>   
</header>

<section class="anywhere" id="about">
    <div class="container bg-primary">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Philosophy</h2>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Quality Products</h3>
               
            </div>
                <div class="col-lg-6">
                  <img src="<%= asset_path("web_screens8.png") %>" class="img-responsive" alt="picture of bottleshop">
                </div>

                <div class="col-lg-6 text-left">
                <p class="text-muted noWidows2"> 
                We believe the best way to provide our customers with products they'll love is to make sure that we also love them.  Which means that we've personally tried and test everything in our inventory making sure when only sell the best quality products.</p>
                <p class="text-muted noWidows2">Every month we created a special assortment of products to send to our members.  Each membership class receives a differnt grouping of high quality beers, wines, spirits, and recomended pairings or preparations. </p> 
                </div>

        </div> <!-- row -->
    </div> <!-- container -->

     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Customer Connection</h3>
              
            </div>
                <div class="col-lg-6 text-left">
                    <p class="text-muted noWidows2"> 
                    Building a lasting relationship with our customers is a key component to our methodology.  We keep a record of everything we've ever sent you, and give you the ability to favorite the wines, beer, spirits, and cocktails you love.  Giving you a record of everything you've ever tried and everything you loved.</p>
                        
                    <p class="text-muted noWidows2">With a lasting recod of what you liked and didn't like, it makes it easier for us to hand select the items we think you'll enjoy the most! This means we can get a feel for your taste and provide you with more drinks that you'll love.</p> 
                </div>

                 <div class="col-lg-6 text-right">
                  <img src="<%= asset_path("redhead.png") %>" class="img-responsive anywhere-img" alt="smiling redhead looks at phone">
                </div>

        </div> <!-- row -->
    </div> <!-- container -->
</section>

<section class="bg-primary" id="features">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <hr class="primary">
                </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/allinone.png") %>" alt="dry cleaning operations icon">
                        <h3>Red Wines</h3>
                        <p class="text-muted noWidows2">No need to purchase add ons or upgrades, SMRT provides everything you need to maximize your profits.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/multiling.png") %>" alt="multilingual icon">
                        <h3>White Wines</h3>
                        <p class="text-muted noWidows2">Communication is paramount to execution, get multilingual. Your business speaks many languages, your software should too!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/smart_pay.png") %>" alt="secure credit card">
                        <h3>Rosé</h3>
                        <p class="text-muted noWidows2">Seamlessly process new order and pick up transactions. Automated to minimize declines and maximize cash flow.</p>
                    </div>
                </div>
        </div>   
        </div> 

        <div class="container">
        <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/fclothestracker.png") %>" alt="clothestracker icon">
                        <h3>Beers</h3>
                        <p class="text-muted noWidows2">Tracking inventory is the heart of every operation. With ClothesTracker™ you’ll always know the status of orders, items, and deliveries.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/feat-assbl.png") %>" alt="multiple shirts icon">
                        <h3>Champagne</h3>
                        <p class="text-muted noWidows2">An instant money maker, streamline production, prevent late orders, and free up your work area.</p>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <img class="features-image" src="<%= asset_path("ill/deliver.png") %>" alt="location pins icon">
                        <h3>Spirits</h3>
                        <p class="text-muted noWidows2">An integrated system that optimizes routes, provides navigation, tracks deliveries, and communicates with your customers.</p>
                    </div>
                </div>
        </div><!-- row -->
        </div><!-- container -->

        
</section>



   

    


<!-- <section>
    <div id="press">
        <div class="container bg-primary">
            <div class="row">
                    <div class="col-lg-12 text-center">
                       <h2 class="section-heading">News</h2>
                       <hr>
                        <div class="col-lg-8 col-lg-offset-2 text-left">
                            <p class="noWidows2 ">Our latest updates are here they are so exciting!</p>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</section>
 -->
<section id="pricing">
    <div class=" bg-primary container">
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading text-">Pricing &amp; Plans</h2>
                <hr class="primary">
                <p class="text-muted noWidows2"> We offer a variety of monthly packages to fit any drinkers style, whether you enjoy trying new wines, sipping a good scotch after dinner, or pounding brews at the BBQ.  We've got the package just for you!  All alcohol is carefully selected and is different each month.</p>
        </div>
           <div class="col-lg-12 text-center">

                <div class=" price_table">
                <div class="column_1">
                    <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Wino</div>
                    </li>
                    
                    <li class="header_row_2 align_center">
                        <div class="price"><span>$75</span><span id="mo">/mo</span></div>
                    </li>
                    <li class="row_style_1 align_center"><span>One Red</span></li>
                    <li class="row_style_1 align_center"><span>One Rosé</span></li>
                 <!--    <li class="row_style_1 align_center no-option"><span>Automatic Assembly</span></li> -->
                    <li class="row_style_1 align_center"><span>One White</span></li>
                   <!--  <li class="row_style_1 align_center no-option"><span>Lot Management</span></li> -->
                    <!-- <li class="row_style_1 align_center"><span>Discounted Software</span></li>-->
                    <!--<li class="row_style_1 align_center"><span>Optimized Delivery</span></li>-->
                    
                    <!-- <li class="row_style_1 align_center"><span>2.5% Fixed Rate CC Processing</span></li>-->
                    <!-- <li class="row_style_footer_1"><a href="mailto:bill@smrtsystems.com" class="buy_now">Sign Up</a></li> -->
                    <!--<li class="fine-print align_center"><span>Available for qualified businesses</span></li>-->
                    <!--<li class="fine-print align_center"><span> *$1500 for operations hardware: 1 phone, 1 computer, 2 scanners, 2 printers, cash drawer</span></li>-->
                    </ul></div><!--end column-->
                </div><!--end price table-->

                <div class=" price_table">
                <div class="column_1">
                    <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Drink of the Month</div>
                    </li>
                    
                    <li class="header_row_2 align_center">
                        <div class="price"><span>$100</span><span id="mo">/mo</span></div>
                    </li>
                    <!-- <li class="align_center"><span>with purchase of hardware**</span></li> -->
                    <li class="row_style_1 align_center"><span>One 750ml Spirit</span></li>
                    <li class="row_style_1 align_center"><span>The Monthly Mixer</span></li>
                   <!--  <li class="row_style_1 align_center no-option"><span>Automatic Assembly</span></li> -->
                    <li class="row_style_1 align_center"><span>Custom Recipe</span></li>
                    <li class="row_style_1 align_center"><span>Lot Management</span></li>
                    <!-- <li class="row_style_footer_1"><a href="mailto:bill@smrtsystems.com" class="buy_now">Sign Up</a></li> -->
                  
                    <!--<li class="fine-print align_center"><span>**$500 per station: computer/ phone, scanner, printer</span></li>-->
                    </ul></div><!--end column-->
                </div><!--end price table-->
                
                <div class=" price_table">
                <div class="column_1">
                    <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Boozer</div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price"><span>$200</span><span id="mo">/mo</span></div>
                    
                    </li>
              
                    <li class="row_style_1 align_center"><span>Two Reds</span></li>
                    <li class="row_style_1 align_center"><span>Two Whites</span></li>
                    <li class="row_style_1 align_center"><span>Two 6 Packs</span></li>
                   <!--  <li class="row_style_1 align_center"><span>Optimized Delivery</span></li> -->
                    <li class="row_style_1 align_center"><span>One Dark Spirit</span></li>
                    <li class="row_style_1 align_center"><span>One Light Spirit</span></li>
                    <li class="row_style_1 align_center"><span>One Bottle of Champagne</span></li>
                    
                   <!--  <li class="row_style_footer_1"><a href="mailto:bill@smrtsystems.com" class="buy_now">Sign Up</a></li> -->
                    </ul></div><!--end column-->
                </div><!--end price table-->
            </div> 

    </div><!--row-->
    </div><!--container-->





</section>




