<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>SMRT</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SMRT Systems, the better POS">
    <meta name="author" content="">

    <link rel="shortcut icon" href="smrt_logo_sm.png">

    <link rel="shortcut icon" href="<%= asset_path 'smrt_logo_sm.png' %>" class="nav-icon">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <meta property="og:url http://www.smrtsystems.com"                content="http://www.smrtsystems.com" />
    <meta property="og:type "               content="product" />
    <meta property="og:title"              content="SMRT Systems" />
    <meta property="og:image" content="<%= asset_url("321screens.png") %>" alt="scalable software" />
    <meta property="og:image" content="<%= asset_url("web_screens.png") %>" alt="software screenshots" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@smrtsystems" />
    <meta name="twitter:creator" content="@smrtsystems" />
    <meta property="og:description" content="SMRT Systems is an all in one dry cleaning software solution." />
   

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

  <%= csrf_meta_tags %>

  <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
    analytics.load("usH466V6fmgdQ6pAWVDv5MCyNtwJzV7f");
    analytics.page()
    }}();
    </script>

</head>
<body id="page-top" class="<%= @page_body_cls %>">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="<%= asset_path("smrt_logo_sm.png") %>" class="nav-logo" alt="smrt systems logo" style=" display: inline; margin-right: 5px;">SMRT Systems<br><span class="perf">powerful POS</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            
<!--<<<<<< HEAD
                <li>
                    <a class="page-scroll" href="/#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#video">Videos</a>
                </li> 
                  <li>
                    <a class="page-scroll" href="/#pricing">Pricing</a>
                </li>
                <li>
                    <a class="page-scroll" href="/faqs">FAQs</a>
                </li>       
                 <li>
                    <a class="page-scroll" href="/#contact">Contact</a>
                </li>
               <!--  <li>
                    <a class="page-scroll " href="#">Invest</a>
                </li> -->

                <% if @page_body_cls == 'index' %>
                    <li><a class="page-scroll " href="#features">Features</a></li>
                    <li><a class="page-scroll " href="#about">About</a></li>
                    <li><a class="page-scroll " href="#video">Video</a></li> 
                    <li><a class="page-scroll " href="#pricing">Pricing</a></li>
                    <li><a class=" page-scroll " href="/faqs">FAQs</a></li>       
                    <li><a class="page-scroll " href="#contact">Contact</a></li>
                <% elsif @page_body_cls == 'faqs' %>
                    <li><a class="page-scroll " href="/#features">Features</a></li>
                    <li><a class="page-scroll " href="/#about">About</a></li>
                    <li><a class="page-scroll " href="/#video">Video</a></li> 
                    <li><a class="page-scroll " href="/#pricing">Pricing</a></li>
                    <li class="active"><a class="page-scroll" href="/faqs">FAQs</a></li>       
                    <li><a class="page-scroll " href="/#contact">Contact</a></li>
                <% end %>
<!-- origin/master-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5646369e0ef0b85f" async="async"></script>
    <div class="addthis_sharing_toolbox"></div>

<%= yield %>

<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
            </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-phone fa-3x wow"></i>
                    <p>Sales</p>
                    <p><a href="tel:1-415-612-9885">+1(415) 612-9885</a></p>  
                    <p>Support</p>
                    <p><a href="tel:1-(415) 612-1177">+1(415) 612-1177</a></p>
                </div>
                <div class="col-lg-4 text-center">   
                    <p>1847 Belles St<br>San Francisco<br>CA 49129</p>
                </div>

                <div class="col-lg-4 text-center"  >
                    <i class="fa fa-envelope-o fa-3x wow"></i>
                    <p><a href="mailto:bill@smrtsystems.com">Send us a message</a></p>
                </div>
            </div> 



        <!-- <div class="shares">
        <div class="col-lg-8 col-lg-offset-4 text-center">
        <h3>Share</h3> 
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_linkedin"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_print"></a>
            <a class="a2a_button_google_plus"></a>
            </div>
        </div>
        </div> -->

            <div class="col-lg-8 col-lg-offset-2 text-center"><h6>copyright SMRT Systems 2015 all rights reserved</h6></div>                  
        </div>
    </div>
</section>

<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<footer>
    <div class="container_12">
        <div class="grid_12">
          <div class="social_links">
            <a href="https://www.facebook.com/smrtsystems?fref=ts" target="_blank"><img src="<%= asset_path("FB-Icon.png") %>" alt="Facebook" /></a>
            <a href="https://twitter.com/smrtsystems" target="_blank"><img src="<%= asset_path("twitter-icon.png") %>" alt="Twitter" /></a> 
            </div>
        </div>
    </div>

</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
